# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Variáveis sensíveis (Caso eu crie depois)
*.tfvars
*.tfvars.json

# Override
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI config
.terraformrc
terraform.rc